:root {
  --button-background-color: #275682;
  --color-to-change: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
} 

.health-icon {
  color: var(--color-to-change);
}

.button {
  background-color: var(--button-background-color) !important;
}
