:root {
  --button-background-color: #275682;
  --color-to-change: red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem !important;
} 

.health-icon {
  color: var(--color-to-change);
}

.button {
  background-color: var(--button-background-color) !important;
}

.average-measurement {
  font-size: 6rem;
  border-radius: 25% !important;
}

.center {
  text-align: center;
}

.gap-12 {
  gap: 12px;
}

.user-info {
  background-color: blanchedalmond;
  flex: 1;
  justify-content: center;
  align-items: center;   
  height: 100vh;           
}



.user-average-measurements {
  flex: 1;
  background-color: aquamarine;
}



.body, .user-average-measurements {
  display: flex;
}

